<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.Dash"
        version   = "2.0.0">

    <name>Dash</name>

    <description>Fitness at your own convenience.</description>

    <author>12001201</author>

    <gap:platform name="ios" />
    <gap:splash src="resources/img/appLogo/iOS/splash/defaultx2.png" />
    
    <icon src="resources/img/appLogo/iOS/logo/60x3.png" width="180" height="180"/>
    <splash src="resources/img/appLogo/iOS/splash/defaultx2.png" width="640" height="960"/>
    
    <platform name="ios">  
        <icon src="resources/img/appLogo/iOS/logo/60x3.png" width="180" height="180" />
        <icon src="resources/img/appLogo/iOS/logo/60.png" width="60" height="60" />
        <icon src="resources/img/appLogo/iOS/logo/60x2.png" width="120" height="120" />
        <icon src="resources/img/appLogo/iOS/logo/40.png" width="40" height="40" />
        <icon src="resources/img/appLogo/iOS/logo/80.png" width="80" height="80" />
        <icon src="resources/img/appLogo/iOS/logo/57.png" width="57" height="57" />
        <icon src="resources/img/appLogo/iOS/logo/114.png" width="114" height="114" />
        <icon src="resources/img/appLogo/iOS/logo/29.png" width="29" height="29" />
        <icon src="resources/img/appLogo/iOS/logo/58.png" width="58" height="58" />
    </platform>

    <platform name="ios">
        <splash src="resources/img/appLogo/iOS/splash/default.png" width="320" height="480"/>
        <splash src="resources/img/appLogo/iOS/splash/defaultx2.png" width="640" height="960"/>
        <splash src="resources/img/appLogo/iOS/splash/667h.png" width="750" height="1334"/>
        <splash src="resources/img/appLogo/iOS/splash/736h.png" width="1242" height="2208"/>
    </platform>    

    <preference name="permissions"                value="none"/>
    <preference name="orientation"                value="portrait" />        
    <preference name="target-device"              value="handset" />      
    <preference name="fullscreen"                 value="false" />           
    <preference name="webviewbounce"              value="false" />           
    <preference name="prerendered-icon"           value="false" />           
    <preference name="stay-in-webview"            value="false" />          
    <preference name="ios-statusbarstyle"         value="black-opaque" />   
    <preference name="detect-data-types"          value="true" />           
    <preference name="exit-on-suspend"            value="false" />          
    <preference name="show-splash-screen-spinner" value="false" />           
    <preference name="auto-hide-splash-screen"    value="true" />           

    <gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs"/>
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.vibration"/>
    <gap:plugin name="de.appplant.cordova.plugin.hidden-statusbar-overlay"/>
    <gap:plugin name="de.appplant.cordova.plugin.local-notification" />
    
    <access origin="*"/>
    
    <feature name="Notification">
        <param name="ios-package" value="CDVNotification" />
    </feature>
</widget>